<html>
<head>
    <title>Paleodle</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/scripts.js"></script>
</head>

<body>
    <header style="position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); text-align: center;">
        <h1 style="margin:0; padding:0; font-size: xxx-large;">Paleodle</h1>
    </header>
    
    <nav style="position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%); text-align: center; margin-top: 10px;">
        <ul style="list-style: none; padding: 0; margin: 0;">
            <li style="margin-bottom: 10px; margin-top: 20px;"><a href="/views/today.html">Play Todays</a></li>
            <li><a href="/views/previous.html">Play Previous Days</a></li>
        </ul>
    </nav>

   
</body>
</html>